<html>

	<head>
	  <title>touch me</title>

		<link rel='stylesheet' href='../stylesheets/style.css' />
	  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
	  <script type="text/javascript" src="/nowjs/now.js"></script>
		<script type="text/javascript" src="javascripts/touch.js"></script>
	</head>

	<body>
		<div class="users-wrapper">
			
			<ul class="users-list">
			</ul>
			<div class="options">
				<input type="text" placeholder="delay" id="animation-input" max="5000" maxlength="4"/>
				<a href="#" id="toggle-lights" data-lights="on">dim lights</a>
			</div>
			
			
		</div>
	</body>

</html>
